Binary Bzet/Debug
Binary Bzet/Release
Binary Bzet/ipch
Binary Bzet/Binary Bzet/Debug
Binary Bzet/Binary Bzet/Release
Binary Bzet/Binary Bzet.sdf
Binary Bzet/Binary Bzet.suo
Git\Binary Bzet\Python3DLL\Python3DLL\Debug
Binary Bzet\Python3DLL\Python3DLL\Release
Binary Bzet\Python DLL\Debug
Binary Bzet\Python DLL\Release